.background-image {
    background-image: url('./assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.box-shadow {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2)
}